<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="WARN">
    
    <Loggers>
        <Logger name="com.test.chan.controllers" level ="DEBUG" additivity="false">
            <AppenderRef ref="APPLICATION_LOG" />
        </Logger>
                
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="APPLICATION_LOG" />
        </Root>
    </Loggers>

    <Appenders>
        <RollingFile name="APPLICATION_LOG" fileName="d:/logs/application-log.log"
                     filePattern="d:/logs/time-based-logs/application-log-%d{yyyy-MM-dd}.log.zip">
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <DefaultRolloverStrategy max="50" />
        </RollingFile>
        
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} - %msg%n" />
        </Console>
    </Appenders>
</Configuration>