<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <property name="DEV_HOME" value="D:/logs" />
    
    <Appenders>

        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- File Appender -->
<!--        <File name="File" fileName="d:/logs/app.log">
            <PatternLayout
                pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </File>-->
    
        <RollingFile name="APPLICATION_DEBUG_LOG">
            <FileName>d:/logs/application-debug-log.log</FileName>
            <FilePattern>d:/logs/time-based-logs/application-debug-log-%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        
<!--        <RollingFile name="APPLICATION_INFO_LOG">
            <FileName>d:/logs/application-info-log.log</FileName>
            <FilePattern>d:/logs/time-based-logs/application-info-log-%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>-->
        
<!--        <RollingFile name="APPLICATION_ERROR_LOG">
            <FileName>d:/logs/application-error-log.log</FileName>
            <FilePattern>d:/logs/time-based-logs/application-error-log-%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="2" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>-->

    </Appenders>
    
    <Loggers>

        <Logger name="com.test.chan" level="debug" additivity="false">
            <AppenderRef ref="APPLICATION_DEBUG_LOG" />
        </Logger>
        
<!--        <Logger name="com.test.chan" level="info" additivity="false">
            <AppenderRef ref="APPLICATION_INFO_LOG" />
        </Logger>-->
        
<!--        <Logger name="com.test.chan" level="error" additivity="false">
            <AppenderRef ref="APPLICATION_ERROR_LOG" />
        </Logger>-->
        
        <Root level="trace">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>